*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.3s;
    background-color: var(--preto);
}

:root{
    --branco:#F4F4F5;
    --cinza: #A1A1AA;
    --preto: #000000;
}

.branco{
    color: var(--branco);
}

.cinza{
    color: var(--cinza);
}

.preto{
    color: var(--preto);
}

.d-flex{
    display: flex;
}

.d-flex-evelin{
    display: flex;
    justify-content: space-evenly;
}

img{
    max-width: 100%;
}

.centraliza{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imagem-fundo{
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom center;
    width: 100%;
    height: 700px;
}

.g-medium{
    gap: 28px;
}

.img-album{
    width: 100px;
    height: 100px;
}

.coluna{
    flex-direction: column;
}

.titulo{
    font-size: 100px;
}

.titulozin{
    font-size: 80px;
}

.quadro{
    width: 160px;
    height: 200px;
    background-color: var(--branco);
    border-radius: 8px;
}

.back{
    background-color: var(--branco);
}

.espaçamento{
    gap: 30px;
}