*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.3s;
    
}

:root{
    --branco:#F4F4F5;
    --cinza-texto: #A1A1AA;
    --cinza-claro: #323238;
    --cinza-escuro: #212121;
    --preto: #000000;
}

p{
    background-color: rgba(240, 248, 255, 0);
}

h1{
    background-color: rgba(240, 248, 255, 0);
}


/*  cores  */
.branco{
    color: var(--branco);
}

.cinza-texto{
    color: var(--cinza-texto);
}

.cinza-claro{
    color: var(--cinza-clro);
}

.cinza-escuro{
    color: var(--cinza-escuro);
}

.preto{
    color: var(--preto);
}

.b-preto {
    background-color: var(--preto);
}

.b-cinza-escuro{
    background-color: var(--cinza-escuro);
}



.d-flex{
    display: flex;
}

.d-flex-evelin{
    display: flex;
    justify-content: space-evenly;
}

.d-flex-bet{
    display: flex;
    justify-content: space-between;
}


.centraliza{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imagem-fundo{
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom center;
    width: 100%;
    height: 700px;
}

.g-medium{
    gap: 28px;
}


.coluna{
    flex-direction: column;
}

.titulo{
    font-size: 64px;
}

.titulozin{
    font-size: 80px;
}

.letra{
    font-size: 40px;
}

.icone{
    width: 100px;
    height: 100px;
}

.justifica{
    text-align: justify;
}

/* CABEÇALHO */

.cabecalho{
    position: fixed;
    width: 100%;
}

.logo{
    height: 100px;
    margin-top: 10px;
}

.icone2{
    width: 50px;
    height: 50px;
}

.fundo-cabecalho{
    width: 80px;
    height: 70px;
}

.barra-pesquisa{
    position: absolute;
    width: 700px;
    height: 40px;
    background-color: var(--cinza-claro);
    border-radius: 30px;
    margin-left: 350px;
    margin-top: 40px;
}

.lupa{
    width: 25px;
    margin-left: 15px;
    margin-top: 7px;
}

.pisca-pisca{
    color: var(--cinza-texto);
    font-size: 25px;
    margin-left: 60px;
    margin-top: -30px;

    animation-name: pisca;
    animation-duration: 0,5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes pisca {
    from{
        color:var(--cinza-texto)
    }

    to{
        color: transparent
    }
}



/* QUADRO DE MUSICAS */

.img-album{
    width: 180px;
    height: 180px;
}

.quadro{
    width: 200px;
    height: 240px;
    background-color: var(--cinza-claro);
    border-radius: 8px;
}

.quadro :hover{
    width: 220px;
    height: 260px; 
    background-color: var(--cinza-escuro);
    border-radius: 0px;
}

.quadro:hover .img-album {
    width: 200px; 
    height: 200px;
}


.back:hover{
    background-color: transparent;
    
}
.quadro:hover .texto{
    color: var(--branco);
    height: 0;
    width: 0;
}

.container{
    height: 240px;
    animation-timing-function: ease-in-out;
    flex-grow: 1;
    background-size: cover;
}

.container :hover{
    flex-grow: 2;
}

.texto{
    position: relative;
    left: 230px;
    top: -200px;
    color: transparent;
    flex-wrap: nowrap;
}

/* QUADRO DE PLATAFORMAS */

.azul-escuro{
    background-color: #3081B2;
}

.amarelo{
    background-color: #FFED4D;
}

.azul-claro{
    background-color: #5C97CF;
}

.salmao{
    background-color: #FF7147;
}

.verde{
    background-color: #48AB6E;
}

.laranja{
    background-color: #FFC33E;
}

.site{
    width: 170px;
    height: 170px;
}

.quadro-plataforma{
    width: 210px;
    height: 290px;
    border-radius: 8px;
}

.quadro-plataforma :hover{
    width: 210px;
    height: 290px; 
    background-color: var(--cinza-escuro);
    border-radius: 8px;
}

.quadro-plataforma :hover .site {
    width: 90px; 
    height: 90px;
    position: relative;
    top: -30px;

}


.quadro-plataforma:hover p{
    color: var(--branco);
}


.quadro-plataforma p{
    color: transparent;
    text-align: center;
    
}

/*FAÇA AMIGOS*/

.amigos{
    width: 550px;
    height: 300px;
    background-color: var(--cinza-claro);
    border-radius: 8px;
}

.foto{
    width: 200px;
    height: 260px;
}



/* ESPAÇO */

.espaçamento{
    gap: 30px;
}

.espaço-negativo{
    gap: -70px;
}

.tamanho-secao{
    height: 120vh;
}

.fonte-despojada {
    font-family: "Permanent Marker", "cursive";
    font-weight: 400;
    font-style: normal;
}

.fonte-formal {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

  /* trabalhos já feitos */

.principal{
    width: 560px;
    height: 290px;
    border-radius: 8px;
}

.secundario{
    width: 275px;
    height: 144px;
    border-radius: 8px;
}

.margem-d-b{
    margin-left: 35px;
}

.margem-grande{
    margin-left: 634px;
}

.maregm-bloco-cima{
    margin-top: -148px;
}

.margem-bloco-lado{
    margin-left: 289px;
}

.margem-cimao{
    margin-top: 40px;
}

.bloco-principal{
    position: absolute;
    width: 560px;
    height: 290px;
    border-radius: 8px;
    background-color: transparent;
}

.bloco-secundario{
    position: absolute;
    width: 275px;
    height: 144px;
    border-radius: 8px;
    background-color: transparent;
}

.bloco-principal :hover{
    background-color: #32323861;
}

.bloco-secundario :hover{
    background-color: #32323861;
}

  /* comentarios */

  .comentario{
    width: 550px;
    height: 185px;
    background-color: var(--cinza-claro);
    border-radius: 8px;
  }

  .comentario p{
    margin-left: 20px;
    margin-right: 20px;
    text-align: start;
  }

  

  .negrito{
    font-weight: bold;
  }

  .margem-cima{
    margin-top: 20px;
  }

  .margem-cima-p{
    margin-top: 10px;
  }
  
  .margem-cima-n{
    margin-top: -45px;
  }

  .estrela{
    width: 25px;
    height: 25px;
  }

  .margem-d{
    margin-left: 10px;
  }

  .margem-dois-lado{
    margin-left: 7px;
    margin-right: 7px;
  }

  
  

  .comentario{
    background-color: var(--cinza-claro);
    border-radius: 8px;
    height: 150px;
    width: 820px;
  }

  .comentario p{
    font-size: 20px;
  }
